{% extends "themes/theme20/index.html" %}

{% block sidebar %}
    {% for page in all_objects %}
        <a class='href_color' href="{% url 'page_detail' username=logged_user.username slug=page.slug %}">{{page.title}}</a><br>
    {% endfor %}
{% endblock %}

{% block content %}
    <p>Are you sure you want to delete "{{ object.title }}"?</p>

    <form method="post" action="{% url 'audio_delete' username=logged_user.username pk=object.pk %}">
        {% csrf_token %}
        <a class='href_color' href="{% url 'audio_list' username=logged_user.username %}">Go back</a>
        <button type="submit" class="btn btn-primary">Confirm Deletion</button>
    </form>
{% endblock %}