{% extends "themes/theme30/index.html" %}
{% load staticfiles %}

{% block head %}
    {{form.media}}
{% endblock %}

{% block sidebar %}
    {% for page in all_objects %}
        <a href="{% url 'page_detail' username=logged_user slug=page.slug %}">{{page.title}}</a><br>
    {% endfor %}
{% endblock %}

{% block content %}
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
{% endblock content %}
