{% extends "themes/theme2/index.html" %}
{% load staticfiles %}

{% block navbar_right %}
    {% if logged_user.is_authenticated %}
        <li class="active"><a href="{% url 'account_logout' %}" class="btn">Logout</a></li>
        <li class="active"><a href="{% url 'theme_form' username=logged_user.username %}" class="btn">Themes</a></li>
    {% endif %}
{% endblock navbar_right %}

{% block sidebar %}
    {% for page in all_objects %}
        <a href="{% url 'page_detail' username=logged_user.username slug=page.slug %}">{{page.title}}</a><br>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class="col-lg-8 col-md-4 col-xs-8 body_color">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label_tag }}<br>
                        {{ field }}<br><br>
                    {% endfor %}
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
<body>
</body>
</html>