{% extends "themes/default/index.html" %}
{% load url from future %}

{% block head %}
    <style>
        .thumb {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block title %}
    - Photo Album
{% endblock %}


{% block navbar_right %}
    {% if logged_user == username %}
        {% if object_list_len > 20 %}
            <li><a href="">Max Photos Added</a></li>
        {% else %}
            <li><a href="{% url 'photo_create' username=username %}">Add Photos (Max: 20)</a></li>
        {% endif %}
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
        <li><a href="{% url 'theme_form' username=username %}">Themes</a></li>
        {% if not is_member %}
            <li><a href="{% url 'payment_form' username %}">Go Premium</a></li>
        {% endif %}
        <li><a href="/sunnyarora07/welcome" target='_blank'>Demo</a></li>
    {% endif %}
{% endblock navbar_right %}

{% block heading %}
    {% if logged_user == username %}
        <a href="{% url 'profile_form' username=username %}" class="btn btn-primary">Edit</a>
    {% else %}
        {% if access_granted == 'False' %}
            <div id="myModal" class="modal fade" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Site Access Form</h4>
                        </div>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="modal-body">
                                {% if error %}
                                    <div class="alert alert-danger alert-error">
                                        <strong>Error!</strong> {{error}}.
                                    </div>
                                {% endif %}
                                <div class="control-group form-group">
                                    <div class="controls form_control">
                                        {% for field in form %}
                                            {{ field.label_tag }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {{ field }}<br><br>
                                            (Enter the Access Key shared by the Wedding Couple)<br><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock heading %}

{% block sidebar %}
    {% for page in page_list %}
        {% if logged_user == username %}
            {% if page.title == 'Photo Album' %}
                <a class='href_color' href="{% url 'photo_list' username=username %}">{{page.title}}</a><br>
            {% else %}
                <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a><br>
            {% endif %}
        {% elif page.title != 'HomePage' %}
            {% if page.title == 'Photo Album' %}
                <a class='href_color' href="{% url 'photo_list' username=username %}">{{page.title}}</a><br>
            {% else %}
                <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a><br>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <h1 class="page-header">Photo Album</h1>
    {% if object_list %}
        {% for photo in object_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb body_color">
                <a class='href_color' href="{% url 'photo_detail' username=username pk=photo.pk %}">
                    <img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/><br>
                    {{photo.title}}
                    {% if logged_user == username %}
                        <form method="post" action="{% url 'photo_update' username=username pk=photo.pk %}">
                            {% csrf_token %}
                            <input type="submit" value="Edit Photo" class="btn btn-primary">
                        </form>
                        <form method="post" action="{% url 'photo_delete' username=username pk=photo.pk %}">
                            {% csrf_token %}
                            <input type="submit" value="Delete Photo" class="btn btn-primary">
                        </form>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <h3>No Photos are available.</h3>
    {% endif %}
    <!--
    {% if is_paginated %}
    <p>{{ paginator.count }} photos total.</p>
    <div id="page_controls">
        <p>{% if page_obj.has_previous %}<a href="{% url 'pl-photo-list' page_obj.previous_page_number %}">Previous</a> | {% endif %} page {{ page_obj.number }} of {{ paginator.num_pages }} {% if page_obj.has_next %}| <a href="{% url 'pl-photo-list' page_obj.next_page_number %}">Next</a>{% endif %}</p>
    </div>
    {% endif %}
    -->
{% endblock %}