{% extends "themes/theme27/index.html" %}

{% block sidebar %}
    {% for page in all_objects %}
        <a class='href_color' href="{% url 'page_detail' username=logged_user.username slug=page.slug %}">{{page.title}}</a><br>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class="col-lg-8 col-md-4 col-xs-8 body_color">

                <p>Are you sure you want to delete "{{ object.title }}"?</p>

                <form method="post" action="{% url 'photo_delete' username=logged_user.username pk=object.pk %}">
                    {% csrf_token %}
                    <a class='href_color' href="{% url 'photo_list' username=logged_user.username %}">Go back</a>
                    <p><input type="submit" value="Confirm deletion" /></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}