{% extends "base.html" %}

{% block navbar_right %}
    {% if logged_user.is_authenticated %}
        <li><a href="{% url 'page_update' username=logged_user.username slug=object_list.values.0.slug %}">Edit Page</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% endif %}
{% endblock navbar_right %}

{% block sidebar %}
    {{object_list.values.title}}
    {% for page in object_list.values %}
        <a href="{% url 'page_detail' username=logged_user slug=page.slug %}">{{page.title}}</a>
    {% endfor %}
{% endblock sidebar %}

{% block title %}
    {{ object_list.values.0.title }}
{% endblock title%}


{% block content %}
    {% if object_list.values.0.image == '' %}
        {% if object_list.values.0.title == 'Welcome' %}
            <img src="{{MEDIA_URL}}images/default_welcome.jpg" width="540" height="320" alt="" title=""/>
        {% endif %}
    {% else %}
        {% if object_list.values.0.title == 'Welcome' %}
            <img src="{{MEDIA_URL}}{{object_list.values.0.image}}" width="540" height="320" alt="" title=""/>
        {% endif %}

    {% endif %}

    {{ object_list.values.0.body | safe | linebreaks}}
{% endblock content %}