{% extends "pages/page_list.html" %}

{% block navbar_right %}
    {% if logged_user.is_authenticated %}
        <li><a href="{% url 'page_update' username=logged_user.username slug=object.slug %}">Edit Page</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% endif %}
{% endblock navbar_right %}

{% block heading %}
    <h2 class='mark text-center text-success'>Jack and Jill Wedding</h2>
{% endblock %}

{% block sidebar %}
    {% for page in all_objects %}
        {% if page.title != 'HomePage' %}
            <a href="{% url 'page_detail' username=logged_user slug=page.slug %}">{{page.title}}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block title %}
    {{ object.title }}
{% endblock title%}

{% block content %}
    Hello {{logged_user}} HI{{object.image}} Hello Again
    {% if object.image == '' %}
        {% if object.title == 'Welcome' %}
            <img src="{{MEDIA_URL}}images/default_welcome.jpg" width="540" height="320" alt="" title=""/>
        {% elif  object.title == 'Our Proposal' %}
            <img src="{{MEDIA_URL}}images/default_proposal.jpg" width="540" height="320" alt="" title=""/>
        {% endif %}
    {% else %}
        {% if object.title == 'Welcome' or object.title == 'Our Proposal' %}
            <img src="{{MEDIA_URL}}{{object.image}}" width="540" height="320" alt="" title=""/>
        {% endif %}

    {% endif %}
    {{ object.body | safe | linebreaks}}

    {% if page.title == 'RSVP' %}
        <form method="post" action="/homepage/rsvp/thanks" enctype="multipart/form-data">
            {% csrf_token %}
            First Name: <input type="text" name="first_name"><br><br>
            Last Name: <input type="text" name="last_name"><br><br>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock content %}