{% extends "themes/theme26/index.html" %}
{% load date_diff %}

{% block sidebar %}
    {% for page in all_objects %}
        {% if logged_user.is_authenticated %}
            <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a>
        {% elif page.title != 'HomePage' %}
            <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block heading %}
    <h2 class='header_color'>
        {{wedding_objects.values.0.groom_first_name|capfirst}} &  {{wedding_objects.values.0.bride_first_name|capfirst}}<br>
        {{wedding_objects.values.0.wedding_date}} • {{wedding_objects.values.0.wedding_date | date_diff}} day{{wedding_objects.values.0.wedding_date | date_diff|pluralize}} to go !!<br>
        {% if logged_user.is_authenticated %}
            <a href="{% url 'profile_form' username=username %}" class="btn btn-primary">Edit</a>
        {% endif %}
    </h2>
{% endblock %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class="col-lg-8 col-md-4 col-xs-8 body_color">
                <h2>RSVP Information</h2><br>

                <p>Thank you for your RSVP.<br>
                {{wedding_objects.values.0.groom_first_name|capfirst}} &  {{wedding_objects.values.0.bride_first_name|capfirst}} have been notified of your response.</p>
            </div>
        </div>
    </div>
{% endblock content %}