{% extends 'themes/theme11/index.html' %}
{% load split %}
{% load easy_maps_tags cache %}
{% load date_diff %}

{% block title %}Map of Events{% endblock title %}

{% block heading %}
    {{wedding_objects.values.0.groom_first_name|capfirst}} &  {{wedding_objects.values.0.bride_first_name|capfirst}}<br>
    {{wedding_objects.values.0.wedding_date}} • {{wedding_objects.values.0.wedding_date | date_diff}} day{{wedding_objects.values.0.wedding_date | date_diff|pluralize}} to go !!<br>
    {% if logged_user.is_authenticated %}
        <a href="{% url 'profile_form' username=username %}" class="btn btn-primary">Edit</a>
    {% endif %}
{% endblock %}

{% block navbar_right %}
    {% if logged_user.is_authenticated %}
        <li class="active"><a href="{% url 'theme_form' username=logged_user.username %}" class="btn">Themes</a></li>
        <li class="active"><a href="{% url 'account_logout' %}" class="btn">Logout</a></li>
    {% endif %}
{% endblock navbar_right %}

{% block sidebar %}
    {% for page in page_list %}
        {% if logged_user.is_authenticated %}
            <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a><br>
        {% elif page.title != 'HomePage' %}
            <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a><br>
        {% endif %}
    {% endfor %}
{% endblock sidebar %}

{% block content %}
    <div class='container'>
        <div class='row'>
                {% for map_of_events in addresses %}
                    {% for event, address in map_of_events|split %}
                        <div class="col-lg-3 col-md-4 col-xs-5 body_color">
                            {% easy_map address 200 400 %}
                            <h3><b>{{event | capfirst }}</b></h3>
                            {{address}}
                            {% if logged_user.is_authenticated %}
                                <form>
                                    <a href="{% url 'address_update' username=username pk=map_of_events.pk %}" class="btn btn-primary">Edit</a>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
        </div>
    </div>
{% endblock content %}