{% extends "themes/theme4/index.html" %}
{% load date_diff %}

{% block navbar_right %}
    {% if logged_user.is_authenticated %}
        {% if page.title != 'HomePage' %}
            <li class="active"><a href="{% url 'page_update' username=logged_user.username slug=object.slug %}" class="btn">Edit Page</a></li>
        {% endif %}
        <li class="active"><a href="{% url 'account_logout' %}">Logout</a></li>
        <li class="active"><a href="{% url 'theme_form' username=logged_user.username %}">Themes</a></li>
        <li class="active"><a href="{% url 'payment_form' %}">Go Premium</a></li>
        <li class="active"><a href="/sunnyarora07/welcome" target='_blank'>Demo</a></li>
    {% endif %}
{% endblock navbar_right %}

{% block brand %}<a href='/' class="navbar-brand">Wedding Bells</a>{% endblock %}

{% block sidebar %}
    {% for page in all_objects %}
        {% if logged_user.is_authenticated %}
            <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a><br>
        {% elif page.title != 'HomePage' %}
            <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a><br>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block heading %}
    <h2 class='header_color'>
        {{wedding_objects.values.0.groom_first_name |capfirst}} Ẃἔḋṩ  {{wedding_objects.values.0.bride_first_name|capfirst}}<br>
        {{wedding_objects.values.0.wedding_date}} • {{wedding_objects.values.0.wedding_date | date_diff}} day{{wedding_objects.values.0.wedding_date | date_diff|pluralize}} to go !!<br>
        {% if logged_user.is_authenticated %}
            <a href="{% url 'profile_form' username=username %}" class="btn btn-primary">Edit</a>
        {% endif %}
    </h2>
{% endblock %}

{% block content %}
    {% if object.image == '' %}
        {% if object.title == 'Welcome' %}
            <img class="img-responsive" src="{{MEDIA_URL}}images/default/default_welcome.jpg"/>
        {% elif  object.title == 'Our Proposal' %}
            <img class="img-responsive" src="{{MEDIA_URL}}images/default/default_welcome.jpg"/>
        {% endif %}
    {% else %}
        {% if object.title == 'Welcome' or object.title == 'Our Proposal' %}
            <img class="img-responsive" src="{{MEDIA_URL}}{{object.image}}"/>
        {% endif %}

    {% endif %}
    {{ object.body | safe | linebreaks}}

    {% if object.title == 'HomePage' %}
        <img src="{{MEDIA_URL}}images/default/edit_info.jpg" width="540" height="320" alt="" title=""/>
    {% endif %}
</div>
{% endblock content %}