{% extends "index.html" %}
{% load i18n %}

{%block head %}
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
{%endblock %}

{%block content %}
    <br><br><button onclick="goBack()" type="submit" class="btn btn-primary">Go Back</button>
    <br><br>
    <h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
    <h3>There's been an error. Please <a href="/contact/">Contact Us</a> or <a href="mailto:sunnyarora07@gmail.com" target="_top">Sunny Arora</a>. Thanks for your patience.</h3>
{% endblock %}