{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wedding Website</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
    <style>
        body {
             margin: 0;
             background: url('/media/images/default/bg_image2.jpg');
             background-size: 100% 100%;
             background-repeat:no-repeat;
            display: compact;
             font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        a.href_color {
          color: #000;
          &:hover {
             color: #000;
           }
        }
    </style>
  </head>

  <body>

    <div class="container">

        <nav role="navigation" class="navbar navbar-inverse">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block brand %}<a href="/" class="navbar-brand">Wedding Bells</a>{% endblock %}
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>{% block navbar_right %}{% endblock %}</li>
                    <li><div class="addthis_sharing_toolbox"></div></li>
                </ul>
            </div>
        </nav>
        {% block heading %} {% endblock %}<br>

        <div class="row">
            <div class="col-sm-3 sidebar">
                <ul class="nav nav-sidebar">
                    <li><img src="{% static 'img/base_image.png' %}" width="150" height="70"/></li>
                    <li>{% block sidebar %} {% endblock %}</li>
                </ul>
            </div>
            <div class="col-sm-offset-3 main">
                {% block content %} {% endblock %}
            </div>
        </div>

      <div class="footer">
        <p>&copy; Wedding Bells 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{STATIC_URL}}bootstap/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5404ad8148071059"></script>

  </body>
</html>
