{% extends 'flat_pages_base.html' %}
{% load staticfiles %}

{% block page_header %}Contact Us{% endblock %}

{% block breadcrumb %}Contact{% endblock %}

{% block content %}

    <!-- Embedded Google Map -->
    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=26.4721135,80.318534&amp;spn=56.506174,79.013672&amp;t=m&amp;z=15&amp;output=embed"></iframe>
    <!-- Contact Details Column -->
    <h3>Contact Details</h3>
    <p>
        111A/104, Ashok Nagar<br>Kanpur, U.P 208012<br>
    </p>
    <p><i class="fa fa-phone"></i>
        <abbr title="Phone">P</abbr>: (0512) 123-456</p>
    <p><i class="fa fa-envelope-o"></i>
        <abbr title="Email">E</abbr>: <a href="mailto:sunnyarora07@gmail.com">sunnyarora07@gmail.com</a>
    </p>
    <p><i class="fa fa-clock-o"></i>
        <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
    <ul class="list-unstyled list-inline list-social-icons">
        <li>
            <a href="https://www.facebook.com/sunnyarora29"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/pub/sunny-arora/3a/a5/670"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
    </ul>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->

    <h3>Send us a Message</h3>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="control-group form-group">
            <div class="controls form_control">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        {% for field in form %}
                            {{ field.label_tag }}<br>
                            {{ field }}<br><br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><br>

        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit" class="btn btn-primary">Send Message</button><br><br><br>
    </form>
{% endblock %}