{% extends 'base.html' %}

{% block navbar_right %}
    <li><a href="{% url 'account_signup' %}">Register</a></li>
    <li><a href="{% url 'account_login' %}">Login</a></li>
{% endblock navbar_right %}

{% block sidebar %}
    {% for page in wedding_pages %}
        {% if page != 'HomePage' %}
            <a class='href_color' href=''>{{page}}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block title %}
    <div class="page-header">
    <h1><img src="{{MEDIA_URL}}images/default/text.png" width="520" height="100" alt="" title=""/></h1>
{% endblock title%}

{% block content %}
    <img src="{{MEDIA_URL}}images/default/wedding.png" width="520" height="320" alt="" title=""/>
{% endblock content %}