{% extends 'base.html' %}

{% block navbar_right %}
    <li class="active"><a href="{% url 'account_login' %}">Login</a></li>
    {% if not logged_user.is_authenticated %}
        <li class="active"><a href="{% url 'account_signup' %}">Join Free</a></li>
    {% endif %}
{% endblock navbar_right %}

{% block sidebar %}
    {% for page in wedding_pages %}
        {% if page != 'HomePage' %}
            <a class='href_color' href=''>{{page}}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <img src="{{MEDIA_URL}}images/default/text.png" width="520" height="100" alt="" title=""/>
    </div>
    <p><center>Organize your wedding details and locations for your guests and allow them to RSVP online!<br>
       Plus, you can tell your story, upload photos and add your events details.</center></p>
    <img src="{{MEDIA_URL}}images/default/wedding.png" width="520" height="320" alt="" title=""/>
{% endblock content %}