{% extends 'flat_pages_base.html' %}
{% load staticfiles %}

{% block heading %}
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Welcome {{logged_user.username}}</h3>
                </div>
                <div class="modal-body">
                    <p class="text-info">
                    <large>
                        Our Payment Gateway is still under process. We will keep you updated.<br>
                        Thanks for your co-operation !!
                    </large>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_header %}Payment{% endblock %}

{% block breadcrumb %}Payment{% endblock %}

{% block content %}
    {% if logged_user.is_authenticated %}
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="control-group form-group">
                <div class="controls form_control">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <img src="{{MEDIA_URL}}images/default/credit_card.jpg" widht='25' height='25'/><br><br>
                            {% for field in form %}
                                {{ field.label_tag }}<br>
                                {{ field }}<br><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div><br>

            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary disabled">Go Premium</button><br><br><br>
        </form>
    {% else %}
        <h3>Please <a href='/accounts/signup/'>Register</a> / <a href='/accounts/login/'>Login</a> to make any Payment to Go Premium</h3>
    {% endif %}

{% endblock %}