{% extends "themes/default/index.html" %}
{% load date_diff %}

{% block navbar_right %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
        <li><a href="{% url 'theme_form' username=username %}">Themes</a></li>
        {% if not is_member %}
            <li><a href="{% url 'payment_form' username %}">Go Premium</a></li>
        {% endif %}
        <li><a href="/sunnyarora07/welcome" target='_blank'>Demo</a></li>
    {% endif %}
{% endblock navbar_right %}

{% block heading %}
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Welcome {{logged_user.username}}</h3>
                </div>
                <div class="modal-body">
                    <p class="text-warning"><large>Start Customzing your Website</large><br>
                        We will soon be releasing <a href='#'>'How To Create Your Own Website'</a> video<br>
                        Till then you can check our <a href='#howToCreate'>'How to' Instructions</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'profile_form' username=username %}" class="btn btn-primary">Edit</a>
    {% endif %}

{% endblock %}


{% block sidebar %}
    {% for page in object_list.values %}
        {% if user.is_authenticated %}
            <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a><br>
        {% elif page.title != 'HomePage' %}
            <a class='href_color' href="{% url 'page_detail' username=username slug=page.slug %}">{{page.title}}</a><br>
        {% endif %}
    {% endfor %}
{% endblock sidebar %}


{% block content %}

    {% if object_list.values.0.title == 'HomePage' %}
        <center><h1>Home Page</h1><br>
        <p><font size="4"> Welcome to your wedding website portal !!</center><br><br>
            For all those who will be attending, all of the information they
            could ever want to know about you and your better half will be available here.<br>
            <br>Please check back often as we will be making frequent updates.<br>
            You can also check our demo site
            <a target='_blank' href="/sunnyarora07/welcome"><b>Here</b></a>
            </font>
        </p><br>
        <h3>
            <u><b>Website Access to Family and Friends</b></u>
        </h3>
        <p>
            <a target='_blank' href='/{{username}}/site_access'>Click Here</a></b><br><br>
        </p>
        <h3 id='howToCreate'><b><u>'How to' Instructions</u> :</b></h3><br>
        <a href='{{MEDIA_URL}}images/default/edit_info.jpg' target='_blank' title='Edit Instructions'><img class="img-responsive" src="{{MEDIA_URL}}images/default/edit_info.jpg" title='Edit Instructions'/></a>

    {% endif %}

{% endblock content %}